extends ./base.jade
block append style
    link(rel="stylesheet", type="text/css", href="/assets/style.css")
block body
  nav
    a(href="/login")
      img#logo(src="/assets/img/face.png", alt="face logo")
    .navlink
      a(href="/logout") Log out
  section#makeDomo
    form#tileForm(class="tileForm", name="tileForm", action="/maker", method="POST")
      label(for="url") URL: 
      input#tileUrl(type="text", name="url", placeholder="www.fake-website.net")
      label(for="tags") Tags: 
      input#tileTags(type="text", name="tags", placeholder="cats, domo, etc.")
      a#makeTileSubmit(class="makeTileSubmit", href="#") Make Tile
  section#tiles
    if !tiles || tiles.length == 0
        div.tile
            h3.emptyTile No Tiles yet
    else
        each val in tiles
            div.tile
              a(href= val.url)
                a.tileUrl  #{val.url}          
                h3.tileTags #{val.tags}
  #domoMessage
    
    h3
      span#errorMessage
    
block scripts
        script(src="/assets/tile.js")