extends ./base.jade
block append style
    link(rel="stylesheet", type="text/css", href="/assets/style.css")
block body
  nav
    a(href="/maker")
      img#logo(src="/assets/img/face.png", alt="face logo")
    .navlink
      a(href="/maker") Tiles
    .navlink
      a(href="/logout") Log out
  section#tiles
    if !tiles || tiles.length == 0
        div.tile
            span.emptyTile No Tiles yet
    else
        each val in tiles
            div.tile
              a(href= val.url) 
                img(src= val.url, alt = val.url, onerror="this.src='/assets/default.png'")  
                span.tileTags Tags: #{val.tags}
                      
  #domoMessage
    
    h3
      span#errorMessage
    
block scripts
        script(src="/assets/tile.js")